.dice--disable {
  opacity: 0.7;
}

.dice--one :nth-child(1) {
  top: 50%;
  left: 50%;
}

.dice--two :nth-child(1) {
  top: 25%;
  left: 25%;
}
.dice--two :nth-child(2) {
  top: 75%;
  left: 75%;
}

.dice--three :nth-child(1) {
  top: 25%;
  left: 25%;
}
.dice--three :nth-child(2) {
  top: 75%;
  left: 75%;
}
.dice--three :nth-child(3) {
  top: 50%;
  left: 50%;
}

.dice--four :nth-child(1) {
  top: 25%;
  left: 25%;
}
.dice--four :nth-child(2) {
  top: 25%;
  left: 75%;
}
.dice--four :nth-child(3) {
  top: 75%;
  left: 25%;
}
.dice--four :nth-child(4) {
  top: 75%;
  left: 75%;
}

.dice--five :nth-child(1) {
  top: 25%;
  left: 25%;
}
.dice--five :nth-child(2) {
  top: 25%;
  left: 75%;
}
.dice--five :nth-child(3) {
  top: 75%;
  left: 25%;
}
.dice--five :nth-child(4) {
  top: 75%;
  left: 75%;
}
.dice--five :nth-child(5) {
  top: 50%;
  left: 50%;
}

.dice--six :nth-child(1) {
  top: 25%;
  left: 25%;
}
.dice--six :nth-child(2) {
  top: 25%;
  left: 75%;
}
.dice--six :nth-child(3) {
  top: 75%;
  left: 25%;
}
.dice--six :nth-child(4) {
  top: 75%;
  left: 75%;
}
.dice--six :nth-child(5) {
  top: 50%;
  left: 25%;
}
.dice--six :nth-child(6) {
  top: 50%;
  left: 75%;
}
