@tailwind base;
@tailwind components;
@tailwind utilities;

.guest-form {
  @apply max-w-md w-full space-y-8;
}
.guest-form__title {
  @apply mt-6 text-center text-3xl font-extrabold text-gray-900
}
.guest-form__input{
  @apply appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
}
.guest-form__input_error {
  @apply border-red-500;
}
.guest-form__button {
  @apply group mx-auto relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}
.guest-form__button:disabled {
  opacity: 0.5;
  cursor: default;
}
.username-error {
  min-height: 25px;
  @apply mb-2 text-red-500 text-sm
}
@media screen and (max-width: 500px) {
  .username-error {
    min-height: 40px;
  }
}
