.loader-container {
  @apply h-full w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 m-auto;
}

.loader,
.loader:after {
  @apply w-32 h-32 rounded-full 
}
.loader {
  @apply text-sm mt-2.5 mb-2.5 mr-auto ml-auto relative animate-spin border-8 border-solid;
  --main-loader-color: #71CED9;
  --light-loader-color: #aee4ea6e;
  border-top-color: var(--light-loader-color);
  border-right-color: var(--light-loader-color);
  border-bottom-color: var(--light-loader-color);
  border-left-color: var(--main-loader-color);
}
